$formplate-border-radius: 0;

.input-group, .input-group-two, .input-group-three {
    width: 100%
}

.input-group:before, .input-group-two:before, .input-group-three:before, .input-group:after, .input-group-two:after, .input-group-three:after {
    content: " ";
    display: table
}

.input-group:after, .input-group-two:after, .input-group-three:after {
    clear: both
}

.input-group input, .input-group-two input, .input-group-three input {
    margin-left: -1px;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-clip: padding-box
}

.input-group input:first-child, .input-group-two input:first-child, .input-group-three input:first-child {
    margin-left: 0px;
    border-radius: $formplate-border-radius 0px 0px $formplate-border-radius;
    background-clip: padding-box;
}

.input-group input:last-child, .input-group-two input:last-child, .input-group-three input:last-child {
    border-radius: 0px $formplate-border-radius $formplate-border-radius 0px;
    background-clip: padding-box
}

.input-group .input-icon input, .input-group-two .input-icon input, .input-group-three .input-icon input {
    width: 100%
}

.input-group .input-icon:first-child input, .input-group-two .input-icon:first-child input, .input-group-three .input-icon:first-child input {
    margin-left: 0px;
    border-radius: $formplate-border-radius 0px 0px $formplate-border-radius;
    background-clip: padding-box
}

.input-group .input-icon:last-child input, .input-group-two .input-icon:last-child input, .input-group-three .input-icon:last-child input {
    border-radius: 0px $formplate-border-radius $formplate-border-radius 0px;
    background-clip: padding-box
}

.input-group-two input, .input-group-two .input-icon {
    float: left;
    position: relative;
    width: 50%
}

.input-group-three input, .input-group-three .input-icon {
    float: left;
    position: relative;
    width: 33.33333%
}

.input-icon {
    position: relative
}

.input-icon i {
    position: absolute;
    right: 12px;
    margin-top: 13px;
    font-size: 16px;
    font-size: 1rem;
    z-index: 4
}

.input-icon input {
    padding-right: 36px
}

.formplate {
    position: relative;
    sup {
        position: absolute;
        color: $brand-primary;
        top: 8px;
        right: 9px + $grid-gutter-width/2;
        display: block;
        line-height: normal;
        font-size: 100%;
    }
    input, textarea {
        //.placeholder();
    }
    .error {
        border: 1px solid $brand-danger;
        background-color: lighten($brand-danger, 48%);
    }
    p.error {
        border: none;
        color: $brand-primary;
        margin-top: -1.3em;
        margin-bottom: 1.5em;
        font-size: 90%;
        background-color: transparent;
    }
    button.btn {
        margin-bottom: 1.5em;
    }
}

@font-face {
    font-family: 'formplate';
    src: url("../fonts/formplate.eot?c4hmew");
    src: url("../fonts/formplate.eot?#iefixc4hmew") format("embedded-opentype"), url("../fonts/formplate.woff?c4hmew") format("woff"), url("../fonts/formplate.ttf?c4hmew") format("truetype"), url("../fonts/formplate.svg?c4hmew#icomoon") format("svg");
    font-weight: normal;
    font-style: normal
}

.formplate .fp-checkbox, .formplate .fp-radio {
    display: inline-block;
    position: relative;
    margin-right: 6px;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 2px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 10px;
    vertical-align: middle;
    border: 1px solid #d1d1d1;
    border-radius: $formplate-border-radius;
    background-clip: padding-box;
    background-clip: border-box;

}
.formplate.checkbox-large {
    margin-bottom: 1.5em;
    .fp-checkbox {
        width: 40px;
        height: 40px;
        border-radius: $formplate-border-radius*2;
        line-height: 40px;
        font-size: 17px;
        text-align: center;
    }
}
.formplate .fp-checkbox:hover, .formplate .fp-radio:hover {
    cursor: pointer;
    border: 1px solid $brand-primary;
}

.formplate .fp-checkbox.checked, .formplate .fp-radio.checked {
    text-align: center;
    color: #fff;
    font-family: "formplate";
    border: 1px solid $brand-primary;
    background-color: $brand-primary
}

.formplate .fp-checkbox.checked:before, .formplate .fp-radio.checked:before {
    content: "\e600"
}

.formplate .fp-checkbox > input, .formplate .fp-radio > input {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 22px;
    height: 22px;
    opacity: 0;
    filter: alpha(opacity=0)
}

.formplate .fp-checkbox > input:hover, .formplate .fp-radio > input:hover {
    cursor: pointer
}

/*.fp-colour-grey .formplate .fp-checkbox:hover, .fp-colour-grey .formplate .fp-radio:hover {
    border: 1px solid #ebebeb
}

.fp-colour-grey .formplate .fp-checkbox.checked, .fp-colour-grey .formplate .fp-radio.checked {
    border: 1px solid #ebebeb;
    background-color: #ebebeb
}

.fp-colour-black .formplate .fp-checkbox:hover, .fp-colour-black .formplate .fp-radio:hover {
    border: 1px solid #383838
}

.fp-colour-black .formplate .fp-checkbox.checked, .fp-colour-black .formplate .fp-radio.checked {
    border: 1px solid #383838;
    background-color: #383838
}

.fp-colour-white .formplate .fp-checkbox:hover, .fp-colour-white .formplate .fp-radio:hover {
    border: 1px solid #fff
}

.fp-colour-white .formplate .fp-checkbox.checked, .fp-colour-white .formplate .fp-radio.checked {
    border: 1px solid #fff;
    background-color: #fff
}

.fp-colour-aqua .formplate .fp-checkbox:hover, .fp-colour-aqua .formplate .fp-radio:hover {
    border: 1px solid #1abc9c
}

.fp-colour-aqua .formplate .fp-checkbox.checked, .fp-colour-aqua .formplate .fp-radio.checked {
    border: 1px solid #1abc9c;
    background-color: #1abc9c
}

.fp-colour-blue .formplate .fp-checkbox:hover, .fp-colour-blue .formplate .fp-radio:hover {
    border: 1px solid #3498db
}

.fp-colour-blue .formplate .fp-checkbox.checked, .fp-colour-blue .formplate .fp-radio.checked {
    border: 1px solid #3498db;
    background-color: #3498db
}

.fp-colour-green .formplate .fp-checkbox:hover, .fp-colour-green .formplate .fp-radio:hover {
    border: 1px solid #2ecc71
}

.fp-colour-green .formplate .fp-checkbox.checked, .fp-colour-green .formplate .fp-radio.checked {
    border: 1px solid #2ecc71;
    background-color: #2ecc71
}

.fp-colour-orange .formplate .fp-checkbox:hover, .fp-colour-orange .formplate .fp-radio:hover {
    border: 1px solid #f39c12
}

.fp-colour-orange .formplate .fp-checkbox.checked, .fp-colour-orange .formplate .fp-radio.checked {
    border: 1px solid #f39c12;
    background-color: #f39c12
}

.fp-colour-pink .formplate .fp-checkbox:hover, .fp-colour-pink .formplate .fp-radio:hover {
    border: 1px solid #eb5367
}

.fp-colour-pink .formplate .fp-checkbox.checked, .fp-colour-pink .formplate .fp-radio.checked {
    border: 1px solid #eb5367;
    background-color: #eb5367
}

.fp-colour-purple .formplate .fp-checkbox:hover, .fp-colour-purple .formplate .fp-radio:hover {
    border: 1px solid #9b59b6
}

.fp-colour-purple .formplate .fp-checkbox.checked, .fp-colour-purple .formplate .fp-radio.checked {
    border: 1px solid #9b59b6;
    background-color: #9b59b6
}

.fp-colour-red .formplate .fp-checkbox:hover, .fp-colour-red .formplate .fp-radio:hover {
    border: 1px solid #e74c3c
}

.fp-colour-red .formplate .fp-checkbox.checked, .fp-colour-red .formplate .fp-radio.checked {
    border: 1px solid #e74c3c;
    background-color: #e74c3c
}

.fp-colour-yellow .formplate .fp-checkbox:hover, .fp-colour-yellow .formplate .fp-radio:hover {
    border: 1px solid #f1c40f
}

.fp-colour-yellow .formplate .fp-checkbox.checked, .fp-colour-yellow .formplate .fp-radio.checked {
    border: 1px solid #f1c40f;
    background-color: #f1c40f
}

.fp-colour-asbestos .formplate .fp-checkbox:hover, .fp-colour-asbestos .formplate .fp-radio:hover {
    border: 1px solid #7f8c8d
}

.fp-colour-asbestos .formplate .fp-checkbox.checked, .fp-colour-asbestos .formplate .fp-radio.checked {
    border: 1px solid #7f8c8d;
    background-color: #7f8c8d
}

.fp-colour-asphalt .formplate .fp-checkbox:hover, .fp-colour-asphalt .formplate .fp-radio:hover {
    border: 1px solid #34495e
}

.fp-colour-asphalt .formplate .fp-checkbox.checked, .fp-colour-asphalt .formplate .fp-radio.checked {
    border: 1px solid #34495e;
    background-color: #34495e
}

.fp-colour-bondi-blue .formplate .fp-checkbox:hover, .fp-colour-bondi-blue .formplate .fp-radio:hover {
    border: 1px solid #008D9C
}

.fp-colour-bondi-blue .formplate .fp-checkbox.checked, .fp-colour-bondi-blue .formplate .fp-radio.checked {
    border: 1px solid #008D9C;
    background-color: #008D9C
}

.fp-colour-grey-blue .formplate .fp-checkbox:hover, .fp-colour-grey-blue .formplate .fp-radio:hover {
    border: 1px solid #aab2bd
}

.fp-colour-grey-blue .formplate .fp-checkbox.checked, .fp-colour-grey-blue .formplate .fp-radio.checked {
    border: 1px solid #aab2bd;
    background-color: #aab2bd
}

.fp-colour-silver .formplate .fp-checkbox:hover, .fp-colour-silver .formplate .fp-radio:hover {
    border: 1px solid #bdc3c7
}

.fp-colour-silver .formplate .fp-checkbox.checked, .fp-colour-silver .formplate .fp-radio.checked {
    border: 1px solid #bdc3c7;
    background-color: #bdc3c7
}*/

.formplate .fp-radio {
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-clip: padding-box;
    background-clip: border-box
}

@-moz-document url-prefix() {
    .formplate .fp-checkbox, .formplate .fp-radio {
        line-height: 21px;
        line-height: 1.3125rem
    }
}

.formplate {
    input {
        width: 100%;
        padding: 12px;
        margin: 0px;
        margin-bottom: 1.5em;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        background-color: #fff;
        border: 1px solid #d1d1d1;
        border-radius: $formplate-border-radius;
        background-clip: padding-box;
        z-index: 1;
        outline: none;
        -webkit-appearance: none;
        font-size: 14px;
    }

    input:focus {
        border: 1px solid $brand-primary;
        z-index: 2
    }
}

/*@media only screen and (min-width: 43.813em) {
    input {
        font-size: 14px;
        font-size: 0.875rem
    }
}*/

/*.fp-colour-grey input[type="text"]:focus, .fp-colour-grey input[type="password"]:focus, .fp-colour-grey input[type="time"]:focus, .fp-colour-grey input[type="date"]:focus, .fp-colour-grey input[type="datetime"]:focus, .fp-colour-grey input[type="datetime-local"]:focus, .fp-colour-grey input[type="week"]:focus, .fp-colour-grey input[type="month"]:focus, .fp-colour-grey input[type="email"]:focus, .fp-colour-grey input[type="number"]:focus, .fp-colour-grey input[type="search"]:focus, .fp-colour-grey input[type="url"]:focus, .fp-colour-grey input[type="tel"]:focus, .fp-colour-grey input[type="color"]:focus {
    border-color: #ebebeb
}

.fp-colour-black input[type="text"]:focus, .fp-colour-black input[type="password"]:focus, .fp-colour-black input[type="time"]:focus, .fp-colour-black input[type="date"]:focus, .fp-colour-black input[type="datetime"]:focus, .fp-colour-black input[type="datetime-local"]:focus, .fp-colour-black input[type="week"]:focus, .fp-colour-black input[type="month"]:focus, .fp-colour-black input[type="email"]:focus, .fp-colour-black input[type="number"]:focus, .fp-colour-black input[type="search"]:focus, .fp-colour-black input[type="url"]:focus, .fp-colour-black input[type="tel"]:focus, .fp-colour-black input[type="color"]:focus {
    border-color: #383838
}

.fp-colour-white input[type="text"]:focus, .fp-colour-white input[type="password"]:focus, .fp-colour-white input[type="time"]:focus, .fp-colour-white input[type="date"]:focus, .fp-colour-white input[type="datetime"]:focus, .fp-colour-white input[type="datetime-local"]:focus, .fp-colour-white input[type="week"]:focus, .fp-colour-white input[type="month"]:focus, .fp-colour-white input[type="email"]:focus, .fp-colour-white input[type="number"]:focus, .fp-colour-white input[type="search"]:focus, .fp-colour-white input[type="url"]:focus, .fp-colour-white input[type="tel"]:focus, .fp-colour-white input[type="color"]:focus {
    border-color: #fff
}

.fp-colour-aqua input[type="text"]:focus, .fp-colour-aqua input[type="password"]:focus, .fp-colour-aqua input[type="time"]:focus, .fp-colour-aqua input[type="date"]:focus, .fp-colour-aqua input[type="datetime"]:focus, .fp-colour-aqua input[type="datetime-local"]:focus, .fp-colour-aqua input[type="week"]:focus, .fp-colour-aqua input[type="month"]:focus, .fp-colour-aqua input[type="email"]:focus, .fp-colour-aqua input[type="number"]:focus, .fp-colour-aqua input[type="search"]:focus, .fp-colour-aqua input[type="url"]:focus, .fp-colour-aqua input[type="tel"]:focus, .fp-colour-aqua input[type="color"]:focus {
    border-color: #1abc9c
}

.fp-colour-blue input[type="text"]:focus, .fp-colour-blue input[type="password"]:focus, .fp-colour-blue input[type="time"]:focus, .fp-colour-blue input[type="date"]:focus, .fp-colour-blue input[type="datetime"]:focus, .fp-colour-blue input[type="datetime-local"]:focus, .fp-colour-blue input[type="week"]:focus, .fp-colour-blue input[type="month"]:focus, .fp-colour-blue input[type="email"]:focus, .fp-colour-blue input[type="number"]:focus, .fp-colour-blue input[type="search"]:focus, .fp-colour-blue input[type="url"]:focus, .fp-colour-blue input[type="tel"]:focus, .fp-colour-blue input[type="color"]:focus {
    border-color: #3498db
}

.fp-colour-green input[type="text"]:focus, .fp-colour-green input[type="password"]:focus, .fp-colour-green input[type="time"]:focus, .fp-colour-green input[type="date"]:focus, .fp-colour-green input[type="datetime"]:focus, .fp-colour-green input[type="datetime-local"]:focus, .fp-colour-green input[type="week"]:focus, .fp-colour-green input[type="month"]:focus, .fp-colour-green input[type="email"]:focus, .fp-colour-green input[type="number"]:focus, .fp-colour-green input[type="search"]:focus, .fp-colour-green input[type="url"]:focus, .fp-colour-green input[type="tel"]:focus, .fp-colour-green input[type="color"]:focus {
    border-color: #2ecc71
}

.fp-colour-orange input[type="text"]:focus, .fp-colour-orange input[type="password"]:focus, .fp-colour-orange input[type="time"]:focus, .fp-colour-orange input[type="date"]:focus, .fp-colour-orange input[type="datetime"]:focus, .fp-colour-orange input[type="datetime-local"]:focus, .fp-colour-orange input[type="week"]:focus, .fp-colour-orange input[type="month"]:focus, .fp-colour-orange input[type="email"]:focus, .fp-colour-orange input[type="number"]:focus, .fp-colour-orange input[type="search"]:focus, .fp-colour-orange input[type="url"]:focus, .fp-colour-orange input[type="tel"]:focus, .fp-colour-orange input[type="color"]:focus {
    border-color: #f39c12
}

.fp-colour-pink input[type="text"]:focus, .fp-colour-pink input[type="password"]:focus, .fp-colour-pink input[type="time"]:focus, .fp-colour-pink input[type="date"]:focus, .fp-colour-pink input[type="datetime"]:focus, .fp-colour-pink input[type="datetime-local"]:focus, .fp-colour-pink input[type="week"]:focus, .fp-colour-pink input[type="month"]:focus, .fp-colour-pink input[type="email"]:focus, .fp-colour-pink input[type="number"]:focus, .fp-colour-pink input[type="search"]:focus, .fp-colour-pink input[type="url"]:focus, .fp-colour-pink input[type="tel"]:focus, .fp-colour-pink input[type="color"]:focus {
    border-color: #eb5367
}

.fp-colour-purple input[type="text"]:focus, .fp-colour-purple input[type="password"]:focus, .fp-colour-purple input[type="time"]:focus, .fp-colour-purple input[type="date"]:focus, .fp-colour-purple input[type="datetime"]:focus, .fp-colour-purple input[type="datetime-local"]:focus, .fp-colour-purple input[type="week"]:focus, .fp-colour-purple input[type="month"]:focus, .fp-colour-purple input[type="email"]:focus, .fp-colour-purple input[type="number"]:focus, .fp-colour-purple input[type="search"]:focus, .fp-colour-purple input[type="url"]:focus, .fp-colour-purple input[type="tel"]:focus, .fp-colour-purple input[type="color"]:focus {
    border-color: #9b59b6
}

.fp-colour-red input[type="text"]:focus, .fp-colour-red input[type="password"]:focus, .fp-colour-red input[type="time"]:focus, .fp-colour-red input[type="date"]:focus, .fp-colour-red input[type="datetime"]:focus, .fp-colour-red input[type="datetime-local"]:focus, .fp-colour-red input[type="week"]:focus, .fp-colour-red input[type="month"]:focus, .fp-colour-red input[type="email"]:focus, .fp-colour-red input[type="number"]:focus, .fp-colour-red input[type="search"]:focus, .fp-colour-red input[type="url"]:focus, .fp-colour-red input[type="tel"]:focus, .fp-colour-red input[type="color"]:focus {
    border-color: #e74c3c
}

.fp-colour-yellow input[type="text"]:focus, .fp-colour-yellow input[type="password"]:focus, .fp-colour-yellow input[type="time"]:focus, .fp-colour-yellow input[type="date"]:focus, .fp-colour-yellow input[type="datetime"]:focus, .fp-colour-yellow input[type="datetime-local"]:focus, .fp-colour-yellow input[type="week"]:focus, .fp-colour-yellow input[type="month"]:focus, .fp-colour-yellow input[type="email"]:focus, .fp-colour-yellow input[type="number"]:focus, .fp-colour-yellow input[type="search"]:focus, .fp-colour-yellow input[type="url"]:focus, .fp-colour-yellow input[type="tel"]:focus, .fp-colour-yellow input[type="color"]:focus {
    border-color: #f1c40f
}

.fp-colour-asbestos input[type="text"]:focus, .fp-colour-asbestos input[type="password"]:focus, .fp-colour-asbestos input[type="time"]:focus, .fp-colour-asbestos input[type="date"]:focus, .fp-colour-asbestos input[type="datetime"]:focus, .fp-colour-asbestos input[type="datetime-local"]:focus, .fp-colour-asbestos input[type="week"]:focus, .fp-colour-asbestos input[type="month"]:focus, .fp-colour-asbestos input[type="email"]:focus, .fp-colour-asbestos input[type="number"]:focus, .fp-colour-asbestos input[type="search"]:focus, .fp-colour-asbestos input[type="url"]:focus, .fp-colour-asbestos input[type="tel"]:focus, .fp-colour-asbestos input[type="color"]:focus {
    border-color: #7f8c8d
}

.fp-colour-asphalt input[type="text"]:focus, .fp-colour-asphalt input[type="password"]:focus, .fp-colour-asphalt input[type="time"]:focus, .fp-colour-asphalt input[type="date"]:focus, .fp-colour-asphalt input[type="datetime"]:focus, .fp-colour-asphalt input[type="datetime-local"]:focus, .fp-colour-asphalt input[type="week"]:focus, .fp-colour-asphalt input[type="month"]:focus, .fp-colour-asphalt input[type="email"]:focus, .fp-colour-asphalt input[type="number"]:focus, .fp-colour-asphalt input[type="search"]:focus, .fp-colour-asphalt input[type="url"]:focus, .fp-colour-asphalt input[type="tel"]:focus, .fp-colour-asphalt input[type="color"]:focus {
    border-color: #34495e
}

.fp-colour-bondi-blue input[type="text"]:focus, .fp-colour-bondi-blue input[type="password"]:focus, .fp-colour-bondi-blue input[type="time"]:focus, .fp-colour-bondi-blue input[type="date"]:focus, .fp-colour-bondi-blue input[type="datetime"]:focus, .fp-colour-bondi-blue input[type="datetime-local"]:focus, .fp-colour-bondi-blue input[type="week"]:focus, .fp-colour-bondi-blue input[type="month"]:focus, .fp-colour-bondi-blue input[type="email"]:focus, .fp-colour-bondi-blue input[type="number"]:focus, .fp-colour-bondi-blue input[type="search"]:focus, .fp-colour-bondi-blue input[type="url"]:focus, .fp-colour-bondi-blue input[type="tel"]:focus, .fp-colour-bondi-blue input[type="color"]:focus {
    border-color: #008D9C
}

.fp-colour-grey-blue input[type="text"]:focus, .fp-colour-grey-blue input[type="password"]:focus, .fp-colour-grey-blue input[type="time"]:focus, .fp-colour-grey-blue input[type="date"]:focus, .fp-colour-grey-blue input[type="datetime"]:focus, .fp-colour-grey-blue input[type="datetime-local"]:focus, .fp-colour-grey-blue input[type="week"]:focus, .fp-colour-grey-blue input[type="month"]:focus, .fp-colour-grey-blue input[type="email"]:focus, .fp-colour-grey-blue input[type="number"]:focus, .fp-colour-grey-blue input[type="search"]:focus, .fp-colour-grey-blue input[type="url"]:focus, .fp-colour-grey-blue input[type="tel"]:focus, .fp-colour-grey-blue input[type="color"]:focus {
    border-color: #aab2bd
}

.fp-colour-silver input[type="text"]:focus, .fp-colour-silver input[type="password"]:focus, .fp-colour-silver input[type="time"]:focus, .fp-colour-silver input[type="date"]:focus, .fp-colour-silver input[type="datetime"]:focus, .fp-colour-silver input[type="datetime-local"]:focus, .fp-colour-silver input[type="week"]:focus, .fp-colour-silver input[type="month"]:focus, .fp-colour-silver input[type="email"]:focus, .fp-colour-silver input[type="number"]:focus, .fp-colour-silver input[type="search"]:focus, .fp-colour-silver input[type="url"]:focus, .fp-colour-silver input[type="tel"]:focus, .fp-colour-silver input[type="color"]:focus {
    border-color: #bdc3c7
}*/

label {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    margin-bottom: 6px;
    color: $text-color;
    //font-family: "Open Sans", Helvetica, Arial, sans-serif;
    //font-size: 14px;
    font-weight: normal
}

.no-touch label:hover {
    cursor: pointer
}

.fp-select {
    margin-bottom: 1.5em;
    display: block;
    position: relative;
    width: auto;
    font-family: "formplate";
    border: 1px solid #d1d1d1;
    background-color: #fff;
    border-radius: $formplate-border-radius;
    background-clip: padding-box;
    overflow: hidden;
    z-index: 1;
    color: $text-color;
    cursor: pointer;
}

.fp-select:before {
    position: absolute;
    background-color: #fff;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 14px 14px;
    border-color: transparent transparent $gray transparent;
    content: "";
    right: 13px;
    top: 15px;
}

.fp-select:hover {
    border: 1px solid $brand-primary;
    &:before {
        border-color: transparent transparent $brand-primary transparent;
    }
}

.fp-select:hover:before {
    color: $brand-primary
}

.fp-select select {
    position: relative;
    height: 46px;
    width: 100%;
    margin: 0px;
    padding-left: 12px;
    padding-right: 48px;
    border: medium none #000;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    font-size: 14px;
    text-transform: none;
    word-spacing: normal;
    word-wrap: normal;
    outline: none;
    -webkit-user-select: text;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    color: $text-color;
    z-index: 2;
    cursor: pointer;
}

.fp-select select::-ms-expand {
    display: none
}

/*.fp-colour-grey .fp-select:hover {
    border: 1px solid #ebebeb
}

.fp-colour-grey .fp-select:hover:before {
    color: #ebebeb
}

.fp-colour-black .fp-select:hover {
    border: 1px solid #383838
}

.fp-colour-black .fp-select:hover:before {
    color: #383838
}

.fp-colour-white .fp-select:hover {
    border: 1px solid #fff
}

.fp-colour-white .fp-select:hover:before {
    color: #fff
}

.fp-colour-aqua .fp-select:hover {
    border: 1px solid #1abc9c
}

.fp-colour-aqua .fp-select:hover:before {
    color: #1abc9c
}

.fp-colour-blue .fp-select:hover {
    border: 1px solid #3498db
}

.fp-colour-blue .fp-select:hover:before {
    color: #3498db
}

.fp-colour-green .fp-select:hover {
    border: 1px solid #2ecc71
}

.fp-colour-green .fp-select:hover:before {
    color: #2ecc71
}

.fp-colour-orange .fp-select:hover {
    border: 1px solid #f39c12
}

.fp-colour-orange .fp-select:hover:before {
    color: #f39c12
}

.fp-colour-pink .fp-select:hover {
    border: 1px solid #eb5367
}

.fp-colour-pink .fp-select:hover:before {
    color: #eb5367
}

.fp-colour-purple .fp-select:hover {
    border: 1px solid #9b59b6
}

.fp-colour-purple .fp-select:hover:before {
    color: #9b59b6
}

.fp-colour-red .fp-select:hover {
    border: 1px solid #e74c3c
}

.fp-colour-red .fp-select:hover:before {
    color: #e74c3c
}

.fp-colour-yellow .fp-select:hover {
    border: 1px solid #f1c40f
}

.fp-colour-yellow .fp-select:hover:before {
    color: #f1c40f
}

.fp-colour-asbestos .fp-select:hover {
    border: 1px solid #7f8c8d
}

.fp-colour-asbestos .fp-select:hover:before {
    color: #7f8c8d
}

.fp-colour-asphalt .fp-select:hover {
    border: 1px solid #34495e
}

.fp-colour-asphalt .fp-select:hover:before {
    color: #34495e
}

.fp-colour-bondi-blue .fp-select:hover {
    border: 1px solid #008D9C
}

.fp-colour-bondi-blue .fp-select:hover:before {
    color: #008D9C
}

.fp-colour-grey-blue .fp-select:hover {
    border: 1px solid #aab2bd
}

.fp-colour-grey-blue .fp-select:hover:before {
    color: #aab2bd
}

.fp-colour-silver .fp-select:hover {
    border: 1px solid #bdc3c7
}

.fp-colour-silver .fp-select:hover:before {
    color: #bdc3c7
}*/

@-moz-document url-prefix() {
    .fp-select select {
        padding-top: 10px;
        padding-bottom: 8px
    }
}

.no-cssanimations .fp-select:after {
    display: none;
    content: ""
}

.no-cssanimations .fp-select select {
    width: 100%;
    padding-top: 7px;
    padding-right: 12px;
    padding-bottom: 9px;
    padding-left: 12px
}

textarea {
    width: 100%;
    height: 114px;
    padding: 10px;
    margin: 0px;
    margin-bottom: 1.5em;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    outline: none;
    -webkit-appearance: none;
    border-radius: $formplate-border-radius;
    background-clip: padding-box
}

textarea:focus {
    border-color: $brand-primary
}

/*@media only screen and (min-width: 43.813em) {
    textarea {
        font-size: 0.875em;
        padding: 12px
    }
}*/

/*.fp-colour-grey textarea:active, .fp-colour-grey textarea:focus {
    border-color: #ebebeb
}

.fp-colour-black textarea:active, .fp-colour-black textarea:focus {
    border-color: #383838
}

.fp-colour-white textarea:active, .fp-colour-white textarea:focus {
    border-color: #fff
}

.fp-colour-aqua textarea:active, .fp-colour-aqua textarea:focus {
    border-color: #1abc9c
}

.fp-colour-blue textarea:active, .fp-colour-blue textarea:focus {
    border-color: #3498db
}

.fp-colour-green textarea:active, .fp-colour-green textarea:focus {
    border-color: #2ecc71
}

.fp-colour-orange textarea:active, .fp-colour-orange textarea:focus {
    border-color: #f39c12
}

.fp-colour-pink textarea:active, .fp-colour-pink textarea:focus {
    border-color: #eb5367
}

.fp-colour-purple textarea:active, .fp-colour-purple textarea:focus {
    border-color: #9b59b6
}

.fp-colour-red textarea:active, .fp-colour-red textarea:focus {
    border-color: #e74c3c
}

.fp-colour-yellow textarea:active, .fp-colour-yellow textarea:focus {
    border-color: #f1c40f
}

.fp-colour-asbestos textarea:active, .fp-colour-asbestos textarea:focus {
    border-color: #7f8c8d
}

.fp-colour-asphalt textarea:active, .fp-colour-asphalt textarea:focus {
    border-color: #34495e
}

.fp-colour-bondi-blue textarea:active, .fp-colour-bondi-blue textarea:focus {
    border-color: #008D9C
}

.fp-colour-grey-blue textarea:active, .fp-colour-grey-blue textarea:focus {
    border-color: #aab2bd
}

.fp-colour-silver textarea:active, .fp-colour-silver textarea:focus {
    border-color: #bdc3c7
}*/

.formplate .fp-toggler {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    background-color: #f5f5f5;
    border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-clip: padding-box;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out
}

.formplate .fp-toggler > input {
    padding: 0px;
    margin: 0px;
    opacity: 0;
    filter: alpha(opacity=0)
}

.formplate .fp-toggler .handle {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-clip: padding-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}

.formplate .fp-toggler.checked {
    background-color: $brand-primary;
}

.formplate .fp-toggler.checked .handle {
    left: 21px
}

.no-touch .formplate .fp-toggler:hover {
    cursor: pointer
}

/*.fp-colour-grey .formplate .fp-toggler.checked {
    background-color: #ebebeb
}

.fp-colour-black .formplate .fp-toggler.checked {
    background-color: #383838
}

.fp-colour-white .formplate .fp-toggler.checked {
    background-color: #fff
}

.fp-colour-aqua .formplate .fp-toggler.checked {
    background-color: #1abc9c
}

.fp-colour-blue .formplate .fp-toggler.checked {
    background-color: #3498db
}

.fp-colour-green .formplate .fp-toggler.checked {
    background-color: #2ecc71
}

.fp-colour-orange .formplate .fp-toggler.checked {
    background-color: #f39c12
}

.fp-colour-pink .formplate .fp-toggler.checked {
    background-color: #eb5367
}

.fp-colour-purple .formplate .fp-toggler.checked {
    background-color: #9b59b6
}

.fp-colour-red .formplate .fp-toggler.checked {
    background-color: #e74c3c
}

.fp-colour-yellow .formplate .fp-toggler.checked {
    background-color: #f1c40f
}

.fp-colour-asbestos .formplate .fp-toggler.checked {
    background-color: #7f8c8d
}

.fp-colour-asphalt .formplate .fp-toggler.checked {
    background-color: #34495e
}

.fp-colour-bondi-blue .formplate .fp-toggler.checked {
    background-color: #008D9C
}

.fp-colour-grey-blue .formplate .fp-toggler.checked {
    background-color: #aab2bd
}

.fp-colour-silver .formplate .fp-toggler.checked {
    background-color: #bdc3c7
}*/
