.btn {
    font-weight: 300;
    font-size: inherit;
}
.btn-primary {
    @include primary-grad();
}
.btn-default {
    @include button-variant(#FFFFFF, $gray-light, darken($gray-light, 6%));
    @include grey-grad();
}
.btn-secondary {
    @include button-variant(#FFFFFF, $brand-secondary, $brand-secondary);
    @include secondary-grad();
}
.btn-wide {
    padding-left: $padding-large-horizontal;
    padding-right: $padding-large-horizontal;
}
.btn-icon {
    font-size: 1.1em;
    i {
        vertical-align: -2px;
        margin-left: 15px;
    }
}
.btn-lg {
    border-radius: $border-radius-base;
    text-transform: uppercase;
    //font-weight: 500;
    font-size: 1.2em;
    //-webkit-font-smoothing: antialiased;
    padding: 8px 30px;
}