.category-label {
    background: url(../images/category-icon.png) no-repeat top left;
    width: 115px;
    height: 115px;
    position: relative;
    display: block;
    color: white;
    text-align: right;
    text-transform: uppercase;
    padding: 15px;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 1;
    &:after {
        @include make-icon("\e602");
        position: absolute;
        font-size: 30px;
        top: 15px;
        right: 15px;
    }
    span {
        position: absolute;
        bottom: 15px;
        right: 15px;
        left: 5px;
    }
    @media screen and (max-width: $screen-sm-max) {
        font-size: 0.9em;
        padding: 10px;
        width: 105px;
        height: 105px;
        @include background-size(100% 100%);
        &:after {
            font-size: 23px;
        }
    }
}

.svg .category-label {
    background-image: url(../images/category-icon.svg);
}