form {
    .alert {
        font-weight: 300;
    }
}

label {
    font-weight: inherit;
    cursor: pointer;
}

p.error {
    font-weight: 300;
    color: $brand-danger;
}

.form-control {
    font-size: 18px;
    font-weight: 300;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
textarea.form-control {
    resize: vertical;
}

select.form-control.fancy {
    appearance: none;
    cursor: pointer;
}
.cc-select {
    display: block;
    position: relative;
    &:after {
        @include make-icon("\e600");
        width: 18px;
        height: 12px;
        position: absolute;
        right: 20px;
        top: 14px;
        z-index: 10;
        pointer-events: none;
        color: $text-color;
    }
    &.placeholder  {
        select, &:after {
            color: $input-color-placeholder;
        }
    }
}
.cc-checkbox {

    display: inline-block;
    position: relative;
    margin-right: 6px;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 2px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 10px;
    vertical-align: middle;
    border: 1px solid $gray-light;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    cursor: pointer;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
    border-radius: $border-radius-base;

    input[type=checkbox] {
        padding: 0px;
        margin: 0px;
        display: inline-block;
        width: 22px;
        height: 22px;
        @include opacity(0);
        cursor: pointer;
    }
}
.cc-checkbox-large {
    width: 44px;
    height: 44px;
    line-height: 44px;
    input[type=checkbox] {
        width: 44px;
        height: 44px;
    }
}
label {

    &:hover .cc-checkbox {
        border: 1px solid $brand-primary;
    }

    &:active .cc-checkbox {
        $color-rgba: rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6);
        @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
        cursor: pointer;
        border: 1px solid $brand-primary;
    }

    .cc-checkbox.checked {
        text-align: center;
        color: white;
        border: 1px solid $brand-primary;
        background-color: $brand-primary;
        &:after {
            @include make-icon("\e610");
            font-size: 11px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            line-height: 22px;
        }
    }
    .cc-checkbox-large.checked {
        &:after {
            font-size: 17px;
            line-height: 44px;
        }
    }
}


.form-group {
    position: relative;
    sup.required {
        position: absolute;
        color: $brand-danger;
        right: 25px;
        top: 0.5em;
        line-height: normal;
        font-size: 88%;
    }
}

.form_plus, .form_minus {
    font-size: 25px;
    font-weight: 500;
    padding: 2px 14px;
    line-height: 1;
}