.gallery {
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;

    &.slider {
        > div {
            float: left;
            display: block;
        }
    }

    .thumbnail {
        margin-bottom: 0;
    }

    .gallery-row {
        > div {
            @media screen and (max-width: $screen-xs-max) {
                margin: 15px 0;
            }
        }
    }
}

.entry-content .caroufredsel_wrapper {
    padding: 0;
    border: 1px solid lighten($brand-secondary, 30%);
    .slider {
        margin-bottom: 14px;
        img {

        }
    }
    & + .thumbnail-wrapper  {
        a {
            display: block;
            border: 1px solid lighten($brand-secondary, 30%);
            &.active {
                border: 1px solid lighten($brand-primary, 30%);
                img {
                    @include opacity(0.4);
                }
            }
            &:hover {
                border: 1px solid $brand-primary;
            }
        }
        margin-left: -7px;
        margin-right: -7px;
        margin-bottom: 30px;
        > div {
            padding-left: 7px;
            padding-right: 7px;
        }
    }
}

.gallery.slider {
    height: auto !important;
}