// Grid system
/*
.main {
    @include make-sm-column($main-sm-columns);
    .sidebar-primary & {
        @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
    }
}

.sidebar {
    @include make-sm-column($sidebar-sm-columns);
}
*/
.caroufredsel_wrapper {
    height: auto !important;
    overflow: visible !important;
    overflow-x: hidden !important;
    @media screen and (max-width: $screen-xs-max) {
        overflow: hidden !important;
    }
    .wrapper {
        position: relative !important;
        @media screen and (max-width: $screen-sm-max) {
            height: auto !important;
        }
    }
}
.container.inset {
    padding: 15px 10%;
}
.block-center {
    margin-left: auto;
    margin-right: auto;
}

.slider.wrapper + .pagination {
    display: none;
}
.gallery-container {
    position: relative;
    .pagination {
        position: absolute;
        bottom: 80px;
        right: 50px;
        a {
            display: inline-block;
            background: white;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            text-indent: -9999px;
            text-align: left;
            @include opacity(0.6);
            span {
                text-align: left;
            }
            &:hover, &.selected {
                @include opacity(0.85);
            }

        }
    }
}

@media screen and (min-width: $screen-lg-min) {
    .col-lg-24 {
        width: 20%;
    }
}