@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-b4jl6p');
    src:url('../fonts/icomoon.eot?#iefix-b4jl6p') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-b4jl6p') format('woff'),
    url('../fonts/icomoon.ttf?-b4jl6p') format('truetype'),
    url('../fonts/icomoon.svg?-b4jl6p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon-social';
    src:url('../fonts/social.eot?-b4jl6p');
    src:url('../fonts/social.eot?#iefix-b4jl6p') format('embedded-opentype'),
    url('../fonts/social.woff?-b4jl6p') format('woff'),
    url('../fonts/social.ttf?-b4jl6p') format('truetype'),
    url('../fonts/social.svg?-b4jl6p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


@mixin make-icon($icon: "") {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: $icon;
}

.boxed-icon {
    background-color: $brand-secondary;
    width: 90px;
    height: 90px;
    color: white;
    text-align: center;
    padding: 13px;
    margin-top: 3px;
    line-height: 64px;
    i {
        font-size: 64px;
        line-height: 64px;
        &.icon-people {
            font-size: 55px;
        }
        &.icon-diamond {
            font-size: 54px;
        }
        &.icon-eye {
            font-size: 35px;
        }
    }
}

i, .icon {
    @include make-icon();
    &.social {
        font-family: 'icomoon-social';
    }
}

.icon-play:before {
    content: "\e611";
}
.icon-tick:before {
    content: "\e610";
}
.icon-envelope:before {
    content: "\e60c";
}
.icon-arrow-down:before {
    content: "\e600";
}
.icon-arrow-left:before {
    content: "\e601";
}
.icon-arrow-right:before {
    content: "\e602";
}
.icon-arrow-up:before {
    content: "\e603";
}
.icon-comment:before {
    content: "\e604";
}
.icon-download:before {
    content: "\e605";
}
.icon-email:before {
    content: "\e606";
}
.icon-list:before {
    content: "\e607";
}
.icon-pencil:before {
    content: "\e609";
}
.icon-phone:before {
    content: "\e60b";
}
.icon-home:before {
    content: "\e60f";
}
.icon-user:before {
    content: "\e60e";
}
.icon-search:before {
    content: "\e60a";
}



.icon-corecreative:before {
    content: "\e60d";
}
.icon-document:before {
    content: "\e608";
}
.icon-googleplus:before {
    content: "\e90b";
}
.icon-facebook:before {
    content: "\e90c";
}
.icon-instagram:before {
    content: "\e90d";
}
.icon-linkedin:before {
    content: "\e90e";
}
.icon-pinterest:before {
    content: "\e90f";
}
.icon-twitter:before {
    content: "\e910";
}
.icon-youtube:before {
    content: "\e911";
}


