// image media
.logo-strapline {
    width: 313px;
    height: 102px;
    background: url(../images/logo-strapline.png) no-repeat top left;
    @include background-size(100% auto);
    display: block;
    text-indent: -9999px;
}
.svg {
    .logo-strapline {
        background-image: url(../images/logo-strapline.svg);
    }
}
@media screen and (max-width: $screen-xs-max) {
    .logo-strapline {
        margin-left: auto;
        margin-right: auto;
        width: 147px;
        height: 125px;
        background-image: url(../images/logo-strapline-vertical.png);
    }
    .svg .logo-strapline {
        background-image: url(../images/logo-strapline-vertical.svg);
    }
}

.media-body, .media-left, .media-right {
    &.vertical-center {
        vertical-align: middle;
        > *:last-child {
            margin-bottom: 0;
        }
    }
}
.entry-content {
    .media {
        .media-left {
            padding-right: 20px;
        }
        .media-body {
            vertical-align: middle;
        }
        img {
            max-width: none;
        }
    }
}


// hover states

.hover-opacity:hover {
    @include opacity(0.75);
}



// utilities


.img-full {
    height: auto;
    width: 100%;
    max-width: none;
}

.img-thumbnail {
    img {
        @extend .img-full;
    }
}

a.thumbnail {
    border: 1px solid transparent;
    overflow: hidden;
    border-radius: $border-radius-large;
}