.modal-body {
    font-size: 1.1em;

}
.modal-footer {
    .btn {
        font-size: 1.2em;
        font-weight: 500;
        text-transform: uppercase;
    }
}

#quote_modal {
    .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
        div.form-group, .col-xs-12 {
            padding-left: 7.5px;
            padding-right: 7.5px;
        }
    }
}