// headings

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: uppercase;
    &.strong {
        font-weight: 900;
        line-height: 1;
    }
}
h1, h4, .h1, .h4 {
    font-weight: 400;
    color: $brand-secondary;
}
h4, .h4 {
    margin-bottom: 20px;
}
h5, .h5 {
    margin-top: 20px;
    border-bottom: 1px solid $gray-light;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-transform: none;
    color: $brand-secondary;
}


// cases

.text-uppercase {
    text-transform: uppercase;
}
.standard-case {
    text-transform: none;
}
.text-lowercase {
    text-transform: lowercase;
}


// colours

.brand-primary {
    color: $brand-primary;
}
.color-inherit {
    color: inherit;
}


// sizes

.text-large {
    font-size: 155%;
}


// weights

body {
    font-weight: 400;
}
.text-light {
    font-weight: 300;
}
.entry-content {
    @extend .text-light;
}