section.banner {

    position: relative;
    padding-top: $grid-gutter-width*1.5;
    overflow: visible;
    background: url(../images/banner-bg.jpg) repeat-x top center;

    /*&.no-banner {
        background: none;
        height: auto;
        padding-top: 0;
    }*/


    @media screen and (max-width: $screen-xs-max) {
        background: none;
        .caroufredsel_wrapper {
            background: url(../images/banner-bg.jpg) repeat-x top center;
            @include background-size(cover);
        }
    }

    .slide {
        float: left;
        width: 100%;
        color: white;
    }

    .media {
        margin-top: 80px;

        @media screen and (max-width: $screen-xs-max) {
            .media-left {
                display: none;
            }
            .media-body {
                text-align: center;
            }
        }
    }

    .entry-title {
        font-size: 3.6em;
        margin-top: 0;
        line-height: 0.8;
        color: white;

        @media screen and (max-width: $screen-xs-max) {
            //text-shadow: 2px 2px 0 rgba(0,0,0,0.75);
        }
    }

    .btn {
        font-size: 1.1em;
        margin-top: $grid-gutter-width/6;
    }

    .image-area {
        position: relative;
        text-align: right;

        img {
            position: relative;
            display: inline-block;
        }
    }

    .banner-pagination {
        //margin-top: -100px;
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
        z-index: 1;

        a {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            background: rgba(255,255,255,0.5);
            text-indent: -9999px;
            &:hover {
                background: rgba(255,255,255,0.75);
            }
            &.selected {
                background: white;
            }
        }
    }


    @media screen and (max-width: $screen-sm-max) {
        .row, .image-area {
            min-height: 0 !important;
        }
        .media {
            margin-top: 30px;
            margin-bottom: 45px;
            overflow: visible;
        }
        .entry-title {
            font-size: 3.1em;
        }
        .image-area {
            img {
                margin-top: 0 !important;
                margin-right: 0 !important;
            }
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        padding-top: 0;
        .media {
            margin-bottom: 30px;
        }
        .image-area {
            text-align: center;
            img {
                margin-right: auto !important;
                margin-left: auto !important;
            }
        }
    }

}
