.bar {
    background-color: $gray;
    border-radius: $border-radius-base;
    font-weight: 300;
    padding: 10px 20px;
    color: white;
    text-transform: none;

    &.bar-primary {
        @include primary-grad();
        color: white;
        text-transform: none;
    }
    &.bar-secondary {
        @include secondary-grad();
        color: white;
        text-transform: none;
    }
}