section.breadcrumbs {
    padding-top: $grid-gutter-width/1.5;
    color: $text-color;
    font-weight: 200;
    i {
        color: $brand-primary;
        margin-right: 5px;
    }
    a {
        color: $text-color;
        &:hover {
            text-decoration: none;
            @include opacity(.75);
        }
    }
    p {
        display: inline-block;
        margin-bottom: 0;
    }
    a.back {
        float: right;
    }
}