section.categories.slider {
    margin: 50px 0;

    @media screen and (max-width: $screen-xs-max) {
        margin-bottom: 50px + 48px;
    }

    .wrapper {
        .row {
            float: left;
        }
    }

    .slider-container {
        position: relative;
    }



}
.pager {
    background-color: $gray-lighter;
    color: white;
    display: block;
    padding: 3px 4px 2px 4px;
    text-decoration: none;
    border-radius: $border-radius-base;

    position: absolute;
    top: 0;
    bottom: 0;
    left: -36px;
    margin: 0;
    width: 30px;

    &.next {
        left: auto;
        right: -36px;
    }

    &:hover {
        background-color: $gray-light;
        color: white;
    }

    i {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    @media screen and (max-width: $screen-xs-max) {
        top: auto;
        height: 42px;
        bottom: -48px;
        left: 0;
        margin: 0;
        width: 49%;
        &.next {
            left: auto;
            right: 0;
        }
    }
}