.link-block {
    background: url(../images/block-bg.jpg) no-repeat top center;
    @include background-size(cover);
    height: 170px;
    position: relative;
    border-radius: $border-radius-base;

    @media #{$screen-retina} {
        background-image: url(../images/block-bg@2x.jpg);
    }
    a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 25px;
        &:hover {
            .contained-primary {
                background-color: $gray-light;
            }
        }
    }

    h3 {
        margin: 0;
        width: 70%;
        font-size: $font-size-h3;
        position: relative;
        z-index: 2;
        -webkit-font-smoothing: antialiased;
        &.strong {
            line-height: 0.9;
        }
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        letter-spacing: -1px;
        .option {
            letter-spacing: -2px;
        }
    }

    img {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: auto;
    }

    .contained-primary {
        background-color: $brand-primary;
        border-radius: $border-radius-base;
        display: block;
        text-align: center;

        position: absolute;
        bottom: 25px;
        left: 25px;

        width: 34px;
        height: 34px;
        line-height: 34px;
        font-size: 18px;
    }


    @media screen and (min-width: $screen-lg-min) {
        height: 209px;
        h3 {
            font-size: $font-size-h3*1.2;
        }
        .contained-primary {
            width: 44px;
            height: 44px;
            line-height: 44px;
            font-size: 23px;
        }
    }

    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

        text-align: right;
        height: auto;

        h3 {
            width: 100%;
            text-align: left;
        }

        img {
            position: static;
            height: 120px;
            width: auto;
            display: inline-block;
            margin-right: -25px;
            margin-bottom: -25px;
        }

    }
    @media screen and (max-width: $screen-xs-max) {
        margin-top: 15px;
        margin-bottom: 15px;
    }

}
section.link-blocks {
    margin: 50px 0;
    @media screen and (max-width: $screen-xs-max) {
        margin: 35px 0;
    }
}