.page-header {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: $grid-gutter-width/2;
    margin-top: 0;
    h1 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1;
    }
}