.quicklinks {
    @include primary-grad;
    padding: 10px 30px;
    font-size: 1.4em;
    text-transform: lowercase;
    border-radius: $border-radius-base;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: transparentize(white, 0.4);
        }
        width: 32%;
        display: inline-block;

        i {
            vertical-align: middle;
            position: relative;
            top: -1px;
            margin-right: 15px;
        }
    }
    @media screen and (max-width: $screen-md-max) {
        font-size: 1.2em;
    }
    @media screen and (max-width: $screen-sm-max) {
        padding: 10px;
        font-size: 1em;

        a i {
            margin-right: 1px;
        }
    }
    @media screen and (max-width: $screen-xs-max) {
        font-size: 1.3em;
        a {
            display: block;
            width: auto;
            text-align: center !important;
            margin: 15px 0;
        }
    }
}