.search-form {
    border: 6px solid $gray-lighter;

    .input-group {
        background: white;
        width: 100%;

        .input-group-btn {
            width: 1%;
        }
    }

    input, button {
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

    .form-control {
        padding-top: 5px;
        padding-bottom: 5px;
    }


    button {
        padding: 0 8px;
        height: 34px;
        float: right;
        font-size: 14px;
        font-weight: 500;
        border: none;
        &:hover {
            position: static;
            border: none;
        }
        position: static;
    }
    .search-submit {
        background: none;
        i {
            font-size: 24px;
        }
        &:hover, &:active {
            color: lighten($text-color, 20%);
        }
        &:active {
            background-color: $gray-lighter;
        }
    }
    .spinner {
        display: none;
        margin-right: 10px;
    }

    .alert {
        margin-bottom: 0;
        border: none;
        border-bottom: 6px solid $gray-lighter;
        border-radius: 0;
    }

}