.team-tab {
    position: fixed;
    z-index: $zindex-popover;
    right: 0;
    top: 35%;
    width: 70px;
    border-top-left-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
    background: $brand-primary;
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: $font-weight-bold;
    a {
        display: block;
        padding: 15px;
        color: white;
        line-height: 1;
        text-decoration: none;
        &:hover {
            color: transparentize(white, 0.5);
        }
    }
    i {
        display: block;
        margin-top: 70px;
        font-size: 1.3em;
    }
    @media screen and (max-width: $screen-sm-max) {
        display: none;
    }
}