section.testimonials {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 6px;

    .container {
        position: relative;
        .filler {
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            right: 100%;
            background: $brand-primary;
        }
        .row {
            margin-left: 0;
        }
    }


    .cell {
        background: white;
        height: 156px;
        padding-left: 0;
    }

    .slider-container {
        padding-right: 0;
    }

    .wrapper {
        display: block;
        background: $gray-lighter;
        height: 156px !important;
        border-radius: $border-radius-base 0 0 $border-radius-base;
        article {
            padding-left: $grid-gutter-width;
            margin: 30px 0;
            float: left;
            .entry-content {
                margin-bottom: 0;
            }
        }
    }

    .text-right {
        padding-right: 6px;
        h2 {
            margin: 0;
            padding: 48px 30px 48px 0;
            -webkit-font-smoothing: antialiased;
            background: $brand-primary;
            border-radius: $border-radius-base;
            color: white;
            display: block;
        }
    }

    @media screen and (max-width: $screen-sm-max) {
        .container {
            .filler {
                display: none;
            }
            .text-right {
                padding-right: 0;
                text-align: center !important;
                h2 {
                    padding: 45px 20px 0 20px;
                    border-radius: 0;
                    background: none;
                    font-weight: 400 !important;
                    color: $brand-primary;
                }
            }
            .cell {
                height: auto;
                background: none;
            }
        }
        .wrapper {
            article {
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
            }
        }
    }

}