section.usps {
    margin: 75px 0;
    .media-left {
        padding-right: 15px;
    }
    .media-heading {
        color: $brand-secondary;
        border-bottom: 1px dotted $gray-light;
        padding-bottom: 5px;
        line-height: 1;
        text-transform: uppercase;
    }
    .entry-content {
        font-size: 0.9em;
    }
    @media screen and (max-width: $screen-md-max) and (min-width: $screen-md-min) {
        .media-heading {
            font-size: 18px;
        }
        .entry-content {
            font-size: 0.8em;
            line-height: 1.6;
        }
    }
    @media screen and (max-width: $screen-sm-max) {
        margin: 50px 0;
        .media {
            margin: 15px auto;
        }
    }
}