.product-category {

    @media screen and (max-width: $screen-xs-max) {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        background: url(../images/category-block-bg.png) no-repeat top center;
        @include background-size(cover);
        position: relative;
        border-radius: $border-radius-base;
        display: block;
        height: 118px;
        color: white;
        @media screen and (min-width: $screen-lg-min) {
            height: 131px;
        }

        img {
            position: absolute;
            bottom: 0;
            left: 0;
            max-height: 100%;
            width: auto;
            border-bottom-left-radius: $border-radius-base;
        }

        h3 {
            font-size: $font-size-h4/1.15;
            padding-left: 50%;
            padding-right: 15px;
            padding-top: 30px;
            margin: 0;
        }

        @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            height: auto;
            h3 {
                padding-left: 15px;
                padding-bottom: 25px;
                height: 75px;
                font-size: $font-size-h4/1.3;
                padding-top: 15px;
            }
            img {
                position: static;
                height: 120px;
                width: auto;
                display: inline-block;
            }
        }
        @media screen and (min-width: $screen-lg-min) {
            img {
                width: 120px;
            }
        }

    }
}
.entry-main {
    .product-category a {
        margin-bottom: $grid-gutter-width;
    }
}