footer.content-info {
    background-color: $brand-secondary;
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width*5;
    color: white;
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: transparentize(white, 0.4);
        }
    }

    .logo .brand {
        margin: 30px 0 15px 0;
        display: block;

        @media screen and (min-width: $screen-md-min) {
            float: right;
            margin: 0;
        }
        @media screen and (max-width: $screen-sm-max)  {
            //margin-top: 60px;
            margin-bottom: 60px;
        }
        @media screen and (max-width: $screen-xs-max)  {
            margin-bottom: 0px;
        }
    }

    .social-icons {
        margin-top: 25px;
        a {
            text-decoration: none;
        }
        i {
            margin: 0 2px;
            font-size: 32px;
        }
    }

    h6 {
        -webkit-font-smoothing: antialiased;
    }

    ul {
        li {
            line-height: 1.6;
        }
    }

    ul.two-col {
        @include clearfix;
        li {
            width: 50%;
            float: left;
            @media screen and (max-width: $screen-xs-max) {
                float: none;
                width: auto;
            }
        }
    }

    .subscribe-wrapper {
        position: relative;
        z-index: 2;

        @media screen and (min-width: $screen-sm-min)  {
            margin-top: -40px;
            .small {
                font-size: 115%;
                padding-left: 0;
            }
        }
        text-align: right;
        form {
            text-align: left;
            margin-bottom: 10px;
            background: white;
            .btn {
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
            }
        }

        .contact-details {
            font-size: 125%;
        }

        @media screen and (max-width: $screen-md-max)  {
            margin-top: 30px;
            .small {
                font-size: 90%;
                padding-left: 0;
            }
            .contact-details {
                font-size: 100%;
            }
        }
        @media screen and (max-width: $screen-sm-max)  {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        @media screen and (max-width: $screen-xs-max) {
            .small {
                font-size: 115%;
                padding-left: 10px;
                padding-right: 10px;
            }
            .contact-details {
                font-size: 125%;
                line-height: 1.7;
            }
        }

    }

    #menu-utility {
        @media screen and (min-width: $screen-md-min) {
            margin-top: -$grid-gutter-width/1.5;
        }
        margin-left: -10px;
        li {
            border-right: 1px solid white;
            padding-left: 10px;
            padding-right: 10px;
            &:last-child {
                border-right-width: 0;
            }
        }
    }

    .icon-corecreative {
        font-size: 30px;
        display: inline-block;
        margin-top: 6px;
        @media screen and (max-width: $screen-xs-max) {
            margin-top: 30px;
        }
    }

    @media screen and (max-width: $screen-sm-max) {
        .social-icons {
            text-align: left;
            margin-top: -20px;
            margin-bottom: 20px;
        }
    }
    @media screen and (max-width: $screen-xs-max) {
        text-align: center;
        .text-right, .subscribe-wrapper {
            text-align: center;
        }
        .logo .brand, .footer-icons {
            margin-left: auto;
            margin-right: auto;
        }
        p.small {
            font-size: 110%;
            margin-top: 30px;
        }
        .social-icons {
            text-align: center;
            margin: 30px auto 0 auto;
        }
        #menu-utility-menu {
            margin: 30px auto;
            li {
                border: none;
                display: block;
                padding: 6px 0;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 50px;
                    left: 50%;
                    margin-left: -25px;
                    border-bottom: 1px solid white;
                }
                &.menu-site-map, &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}