header.header {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
    font-size: 1.2em;
    position: relative;
    z-index: 5;

    .social-icons {
        text-align: center;
        margin: 15px auto 0 auto;
        a {
            text-decoration: none;
        }
        i {
            font-size: 32px;
        }
    }

    .block {
        padding-top: 30px;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        p {
            margin-bottom: 0;
        }
    }

    .search-form {
        margin-top: 5px;
    }


    .enquiry-basket-item {
        text-align: center;
        a {
            color: $text-color;
            font-size: 0.9em;
            img {
                position: relative;
                top: -2px;
            }
            i {
                font-size: 12px;
            }
        }
    }


    @media screen and (max-width: $screen-xs-max) {
        .text-right {
            text-align: center !important;
        }
        .search-form {
            margin-top: 10px;
        }
    }

    @media screen and (max-width: $screen-sm-max) {
        .enquiry-basket-item a {
            display: inline-block;
            padding: 15px 0;
        }
    }

    @media screen and (min-width: $screen-lg-min) {
        font-size: 1.4em;
        .enquiry-basket-item {
            text-align: right;
            margin-top: 4px;
            margin-bottom: -4px;
        }
        .logo-strapline {
            margin-top: 15px;
        }
        .block {
            padding-top: 45px;
        }
        .search-form {
            margin-top: 15px;
        }
        .social-icons {
            text-align: right;
            margin: 0;
        }
    }

}