
.navbar-nav {
    width: 100%;
    position: relative;
}

.navbar-default {
    border-width: 6px 0 6px 0;
    min-height: $navbar-height + (6px*2);
    @include secondary-grad();
    text-transform: lowercase;
    font-size: 1.8em;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 3px 11px -2px rgba(0,0,0,.5);
    margin-bottom: 15px;

    .menu-clearance {
        > a {
            background-color: transparent !important;
            color: $brand-danger !important;
            border-top: 1px solid $brand-danger;
            border-bottom: 1px solid $brand-danger;
            text-transform: uppercase;
            font-weight: bold;
            &:hover {
                color: transparentize($brand-danger, 0.3) !important;
            }
        }
        &.active > a {
            background-color: $brand-danger !important;
            color: white !important;
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        margin-bottom: 0;
        background: $brand-secondary;
        .navbar-header {
            @include secondary-grad();
        }
        .dropdown-menu {
            border-radius: 0;
        }
        .navbar-nav .open .dropdown-menu {
            padding-bottom: 10px;
            margin-bottom: 10px;
            font-size: 0.9em;
            > li > a {
                font-weight: 300;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }

    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        font-size: 1.6em;
        i.icon.icon-home {
            font-size: 24px;
        }
        ul > li > a {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        font-size: 1.4em;
        i.icon.icon-home {
            font-size: 20px;
            height: $navbar-height;
            top: 1px;
        }
        ul > li > a {
            padding-left: 6px;
            padding-right: 7px;
            b.caret {
                display: none;
            }
        }
    }
    @media screen and (min-width: $screen-sm-min) {
        nav {
            position: relative;
            font-size: 0.9em;
            @media screen and (min-width: $screen-md-min) {
                .filler {
                    background-color: $brand-primary;
                    position: absolute;
                    right: 100%;
                    width: 100%;
                    top: 0;
                    height: $navbar-height;
                    @include primary-grad();
                }
            }
        }
        ul {
            li:first-child {
                > a {
                    padding-left: 0;
                }
            }
        }
        @media screen and (min-width: $screen-md-min) {
            li.primary {
                @include primary-grad();
                &.last-primary {
                    background: white;
                    > a {
                        @include primary-grad();
                        border-top-right-radius: $border-radius-base;
                        border-bottom-right-radius: $border-radius-base;
                        padding-right: 40px;
                    }

                    & + li {
                        background: white;
                        > a {
                            border-top-left-radius: $border-radius-base;
                            border-bottom-left-radius: $border-radius-base;
                            @include secondary-grad();
                            margin-left: 6px;
                            padding-left: 30px;
                        }
                    }
                }
            }
        }
        .menu-home {
            > a {
                padding-top: 10px;
                padding-bottom: 9px;
            }
        }
        i.icon {
            position: relative;
            top: -1px;
            font-size: 25px;
        }
        ul.dropdown-menu {
            text-transform: none;
            width: auto;
            left: 20px;
            padding: 15px;
            text-transform: none;
            font-weight: 200;
            li {
                a {
                    color: $brand-secondary;
                    padding: 5px 10px;
                    font-size: 1.2em;
                    &:after, &:before {
                        display: none !important;
                    }
                }
                &:last-child {
                    a {
                    }
                }
                &.active {
                    a {
                        color: white;
                        &:hover {
                            background: lighten($brand-primary, 15%);
                        }
                    }
                }
                &.menu-view-all-products {
                    a {
                        color: $brand-primary;
                    }
                    &.active a {
                        background: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: $screen-xs-max) {
        .navbar-collapse {
            padding-left: 0;
            padding-right: 0;
            .nav {
                margin: 0;
            }
        }
        .open .dropdown-menu {
            border-bottom: 1px solid transparentize(white, 0.5);
            margin: 0;
            padding: 0 0 5px 0;
            font-size: 1em;
            ul {
                li {
                    display: none;
                    &.heading {
                        display: block;
                    }
                    a {
                        color: white;
                        line-height: 20px;
                        padding: 10px 8px;
                        display: block;
                        text-decoration: none;
                        &:hover {
                            color: $navbar-default-link-hover-color;
                        }
                    }
                }
            }
            .col-xs-12 {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .navbar-toggle {
        border-color: white;
        .icon-bar {
            background-color: white;
        }
        &:hover {
            background-color: transparentize(white, 0.5);
        }
    }

}