main.main {
    font-size: 1.2em;
    .entry.entry-main {
        margin-top: 35px;
        margin-bottom: 35px;
    }
}

article {
    margin: 10px auto;
    .entry-title {
        margin-top: 0;
    }
    .entry-content {
        margin-bottom: 20px;
    }
}

.slider article {
    margin: $grid-gutter-width*2 auto;
}

.grey-bg {
    background-color: $gray-lighter;
}
.primary-bg {
    color: white;
    background-color: $brand-primary;
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: transparentize(white, 0.4);
        }
    }
}
.block {
    padding-top: $grid-gutter-width*1.5;
    padding-bottom: $grid-gutter-width*1.5;

    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;

    &.block-large {
        padding-top: $grid-gutter-width*2;
        padding-bottom: $grid-gutter-width*2;
    }

    &.block-small {
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
    }

    &.block-wrapper {
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

body.single-post {
    main.main article.post {
        .entry-content {
            margin-top: 30px;
        }
    }
}



// custom template
.page-template-template-custom {
    main.main {
        ol {
            li {
                margin-bottom: 30px;
                h4 {
                    margin-top: 0;
                    margin-bottom: 10px;
                }
            }
        }
        h4 {
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }
}