.sidebar {
    font-weight: 400;
    @media screen and (max-width: $screen-xs-max) {
        margin-top: 30px;
    }
    .widget {
        margin-bottom: $grid-gutter-width;
        .widget-title {
            @extend .bar;
            @extend .bar-secondary;
            font-weight: 400;
            font-size: $font-size-h4;
            margin-top: 0;
        }
        strong {
            color: $brand-primary;
        }
        table {
            width: 100%;
            tr {
                td {
                    padding: 3px 0;
                    border-bottom: 1px solid $gray-light;
                }
            }
        }

        ul {
            @extend .list-unstyled;
            @extend .widget-list;
        }

        .widget-list {
            font-size: 0.9em;

            li {
                border-bottom: 1px solid $gray-light;
                a {
                    color: $brand-secondary;
                    padding: 6px 3px;
                    display: block;
                    &:hover {
                        color: darken($brand-secondary, 15%);
                    }
                }
            }

            .current-item {
                > a {
                    color: $brand-primary;
                }
            }

            .dropdown {
                font-size: 1em;
                li {
                    border-bottom: 0;
                    border-top: 1px solid $gray-light;
                    a {
                        padding-left: 15px;
                        &:before {
                            content: "- ";
                        }
                    }
                }
            }

        }
    }
    .widget_recent_entries {
        li a {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
        }
    }

    .btn {

        i {
            margin-top: 4px;
        }
    }
    .textwidget {
        @extend .entry-content;
        .btn {
            text-align: left;
            color: white;
        }
        table {
            tr {
                td:last-child {
                    text-align: right;
                }
            }
        }
        a {
            color: inherit;
        }
        strong {
            font-weight: 500;
            color: inherit;
        }
    }
    .widget_black_studio_tinymce {
        margin-bottom: 23px;
    }

}