body.about-us main.main {

    .mission-statement {
        .entry-content {
            color: $brand-secondary;
            font-size: 1.3em;
        }
    }

    section.usps {
        margin-top: 30px;
        margin-bottom: 30px;
        .media {
            margin-bottom: 30px;
        }
        .entry-content {
            font-size: 0.9em;
            line-height: $line-height-computed;
        }
    }

}