@media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    .post-type-archive-case_study, .single-case_study {
        section.banner .image-area {
            img {
                margin-top: 30px !important;
            }
        }
    }
}