body.contact-us main.main {

    #map-container {
        height: 300px;
    }

    .sidebar {
        font-size: 0.9em;
    }

}
@media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    .contact-us {
        section.banner .image-area {
            img {
                margin-top: 12px !important;
            }
        }
    }
}