body.delivery-policy main.main {

    .map {
        .entry-title {
            font-size: $font-size-h2;
        }
        .entry-content {
            margin-bottom: 30px;
            &.large {
                color: $brand-secondary;
                font-size: 1.2em;
                margin-bottom: 40px;
            }
        }
    }



}