.downloads {
    @media screen and (max-width: $screen-md-max) {
        section.banner {
            .entry-title {
                font-size: 3.2em;
                line-height: 0.9;

            }
        }
    }
}
.download-catalogue {
    background: #000 url(../images/pdf-download.png) no-repeat top left;
    @include background-size(cover);
    color: white;
    margin-bottom: 55px;
    .entry {
        padding-top: 40px;
        padding-right: 80px;
        padding-left: 60px;
        padding-bottom: 40px;
        h2 {
            margin-top: 0;
            margin-bottom: 16px;
        }
        .entry-content {
            margin-bottom: 22px;
        }

        @media screen and (max-width: $screen-md-max) {
            background-color: transparentize($brand-secondary, 0.25);
        }
        @media screen and (max-width: $screen-xs-max) {
            padding: 30px;
            text-align: center;
            background-color: transparentize($brand-secondary, 0.35);
        }
    }
}
.downloads main.main {

    .block.form {
        h2 {
            font-size: $font-size-h2;
            margin-top: 0;
            margin-bottom: 30px;
        }
        .bar {
            margin-top: 60px;
        }
    }


    .download-sections {
        .block {
            margin: 0;
            .bar {
                margin-top: 0;
            }

            .image {
                padding: 15px;
                border-top: 1px solid $gray-light;
                border-left: 1px solid $gray-light;
                margin-bottom: 10px;
            }
            .form-group.checked {
                .image {
                    border-color: $brand-primary;
                }
            }
        }

        .videos {
            margin-bottom: 20px;
            .item {
                display: block;
                margin-bottom: 20px;
                .image {
                    position: relative;
                    padding: 0;
                    border: none;
                }
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: white;
                    font-size: 40px;
                    border: 3px solid white;
                    border-radius: 50%;
                    height: 65px;
                    width: 65px;
                    margin-top: -(65px/2);
                    margin-left: -(65px/2);
                    text-align: center;
                    line-height: 62px;
                    padding-left: 10px;
                    @include opacity(0.9);
                }
                &:hover {
                    img {
                        @include opacity(0.6);
                    }
                    i {
                        @include opacity(1);
                    }
                }
                .entry-content {
                    margin-top: 10px;
                }
            }
        }
    }

}