html {
    height: 100%;
}
body.page-template-template-embed {
    height: 100%;
    .entry-content-asset {
        height: 100%;
        > div {
            width: 100% !important;
            height: 100% !important;
        }
        object {
            display: block
        }

        .issuuembed > div {
            > div {
                height: 100% !important;
            }
            > div:last-child {
                display: none;
            }
        }
    }
}