.entry-home {
    .entry-title {
        width: 100%;
        height: 40px;
        text-indent: -9999px;
        background: url(../images/strapline.png) no-repeat top center;
        @include background-size(contain);
        margin-top: 0;
    }
    aside {
        color: $brand-secondary;
    }
    @media screen and (max-width: $screen-sm-max) {
        text-align: center;
        .entry-title {
            background-position: top center;
        }
        aside {
            background: $gray-lighter;
            text-align: center !important;
            padding: 30px 45px;
            margin-bottom: 45px;
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.svg {
    .entry-home {
        .entry-title {
            background-image: url(../images/strapline.svg);
        }
    }
}