.servicing {
    @media screen and (max-width: $screen-sm-max) {
        img {
            margin-bottom: $grid-gutter-width*1.5;
        }
    }
    .entry-content {
        h5 {
            margin-top: 0;
        }
    }
}
.dbs {
    .entry-content {
        padding: 0 10%;
        color: $brand-secondary;
        font-size: 1.3em;
        a:hover {
            img {
                @include opacity(0.5);
            }
        }
    }
}
.blocks {
    .entry-content {
        padding-top: 20px;
        padding-bottom: 35px;
    }
}
.block.form {
    .entry-content {
        margin-bottom: $grid-gutter-width/1.5;
    }
}
@media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    .maintenance-repair {
        section.banner .image-area {
            img {
                width: 280px;
                margin-top: 17px !important;
            }
        }
    }
}