article.content {

    .meta {
        background-color: $gray-lighter;
        text-transform: uppercase;
        padding: 5px 16px;
        font-weight: 300;
        font-size: 0.9em;
        color: $brand-secondary;
        margin-bottom: 30px;
        @include clearfix;

        i {
            margin-right: 6px;
            margin-left: 4px;
            font-size: 12px;
        }
        span {
            display: inline-block;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            color: $brand-secondary;
        }
    }

    .entry-title {
        font-weight: 300;
        font-size: $font-size-h2;
    }

    header a {
        text-decoration: none;
        color: $brand-secondary;
        &:hover {
            color: lighten($brand-secondary, 20%);
        }
    }

    .entry-media {
        position: relative;
    }

    .entry-image + .btn {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    hr {
        margin: 30px 0;
    }

}
body.archive {
    main.main {
        article.content {
            margin-bottom: 50px;
        }
    }
}
.posts-navigation {
    .nav-links {
        a {
            @extend .btn;
            @extend .btn-primary;
            @extend .btn-wide;
            text-transform: uppercase;
            font-size: 1.1em;
        }
    }
}

section.comments {

    .comment-title {
        font-size: $font-size-h3;
    }

    .comment {
        margin-bottom: 30px;
    }

    .media .pull-left {
        padding: 0;
        margin-right: 20px;
    }

    img.avatar {
        border-radius: 50%;
        border: 5px solid white;
        box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    }

    .media-body, .media-heading {
        font-weight: 300;
        color: $text-color;
        a {
            color: $text-color;
        }
    }
    .media-body {

        .media-heading {
             margin-bottom: 0;
         }
        time {
            margin-bottom: 15px;
            display: block;
            color: $brand-primary;
            a {
                color: $brand-primary;
            }
        }

        .comment-reply-link {
            color: $brand-primary;
        }
    }

}
section#respond {
    margin-left: 84px;
    margin-top: 35px;
}

.single {
    main.main {
        article.content {
            margin-top: 0;
        }
        article.case_study {
            margin-bottom: 50px;
        }
    }
}

.entry-content {
    img {
        @extend .img-responsive;
    }
}

@media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    .post-type-archive-post, .single-post {
        section.banner .image-area {
            img {
                margin-top: 57px !important;
            }
        }
    }
}