article.product {
    position: relative;

    .icon-badge {
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 10;
    }

    a {
        text-decoration: none;
        color: $text-color;
        display: block;
        padding-bottom: 40px;
        height: 100%;
        .btn {
            position: absolute;
            bottom: 0;
            left: $grid-gutter-width/2;
            right: $grid-gutter-width/2;
            width: auto;
        }

        &:hover {
            img, .btn {
                @include opacity(0.75);
            }
            .entry-title, .entry-content {
                color: $brand-primary;
            }
        }
    }
    .image {
        border-top: 1px solid $gray-light;
    }
    .image, .entry-title, .description, span.price {
        padding-top: 15px;
        padding-left: 15px;
        border-left: 1px solid $gray-light;
    }


    .entry-title {
        margin: 0;
        text-transform: none;
        font-weight: 400;
        font-size: 1.1em;
        color: $brand-secondary;
    }

    .entry-content {
        font-size: 0.9em;
        padding-top: 3px;
        margin-bottom: 20px;
    }

    span.price {
        display: block;
        color: $brand-primary;
        font-size: 1.2em;
        font-weight: 300;
        margin-top: -20px;
        padding-top: 10px;
        margin-bottom: 20px;
        .amount {
            font-weight: 500;
        }
    }

    .btn {
        text-align: left;
        font-size: 1.1em;
        margin-top: 20px;
        i {
            margin-top: 4px;
        }
    }

}

.woocommerce #content div.product {
    div.images {
        padding: 30px;
        width: auto;
        border-top: 1px dotted $gray-light;
        border-left: 1px dotted $gray-light;
        float: none;
        a:hover img {
            @include opacity(0.5);
        }
    }
    .product-thumbnails {
        position: relative;
        margin-bottom: 10px;
        .row {
            margin-left: -5px;
            margin-right: -5px;
            float: left;
            > div {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        > .slider-wrapper > .row {
            float: none;
        }
        .slider-wrapper {
            position: relative !important;
        }
        img {
            border: 4px solid darken($gray-lighter, 2%);
        }
        a:hover img {
            border: 4px solid $gray-light;
        }
    }
    .entry-summary {

        @media screen and (min-width: $screen-md-min) {
            padding-left: 45px;
        }

        .entry-terms {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 700;
            color: $brand-primary;
            font-size: 1.5em;
            line-height: 1;
        }
        .entry-title {
            margin-top: 10px;
            margin-bottom: 15px;
            font-weight: 300;
            line-height: 0.95;
            color: $gray-dark;
            text-transform: none;
            font-size: 3.5em;
            letter-spacing: -1px;
            @media screen and (max-width: $screen-sm-max) {
                font-size: 2.5em;
            }
        }
        .entry-sku {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 700;
            color: $gray-dark;
            font-size: 1.3em;
            line-height: 1;
            span {
                color: $brand-primary;
            }
        }
        .entry-content {
            margin-top: $grid-gutter-width/1.5;
            margin-bottom: $grid-gutter-width;
            font-size: 1.1em;
        }
    }

    p.price {
        font-size: 2em;
        font-weight: 300;
        color: $brand-primary;
        margin-bottom: 30px;
        .amount {
            font-weight: 700;
        }
    }
}

.woocommerce-tabs {
    .tab-additional_features {
        .media {
            margin-bottom: $grid-gutter-width/1.5;
        }
    }
    .tab-extras {
        .media-wrapper {
            margin-top: 20px;
            margin-bottom: 20px;
            .media-body {
                vertical-align: top;
                padding-right: 45px;
                .entry-content {
                    ul {
                        padding-left: 25px;
                        li {
                            float: none;
                            padding: 0;
                            width: auto;
                        }
                    }
                }
            }
            img {
                border: 1px solid $brand-secondary;
            }
            .media-heading {
                color: $brand-secondary;
                border-bottom: 1px dotted $gray-light;
                padding-bottom: 5px;
                line-height: 1;
                text-transform: uppercase;
            }

        }
    }

    @media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
        ul.tabs {
            display: table;
            width: 100%;
            li {
                display: table-cell !important;
                width: auto !important;
                float: none !important;
            }
        }
    }
    @media screen and (max-width: $screen-xs-max) {
        ul.tabs {
            li {
                display: block !important;
                width: auto !important;
                float: none !important;
                border-bottom-color: transparent !important;
                background-color: transparent !important;
            }
        }
    }
}