body.request-quote main.main {

    .shop_table {
        border-radius: 0;
        .wp-post-image {
            border: 1px solid $gray-lighter;
            padding: 5px;
            margin: 10px 0;
            width: 180px;
        }

        .product-name {
            padding-left: 30px;
        }
        h4 {
            text-transform: none;
            font-size: $font-size-h3;
            span.price {
                font-weight: 300;
                font-size: 75%;
                small {
                    color: inherit;
                }
            }
        }
        a {
            text-decoration: none;
        }

        @media screen and (max-width: $screen-sm-max) {
            .product-name {
                padding-left: 15px;
            }
            h4 {
                font-size: $font-size-h4;
            }
        }
        @media screen and (max-width: $screen-xs-max) {
            .product-thumbnail {
                display: none;
            }
            .product-quantity {
                width: auto;
            }
            h3 {
                margin: 0;
            }
        }
    }

}

.woocommerce .quantity {
    label {
        color: $brand-primary;
        margin-right: 8px;
    }
    .qty {
        width: 4.3em;
        height: 40px;
        background: white;
        border-color: $gray-light;
        margin: 0 3px;
        display: inline-block;
        vertical-align: top;
        padding: 0;
    }
    .btn {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0 3px;
    }
}

.quantity {
    width: 180px;
    @media screen and (max-width: $screen-xs-max) {
        width: auto;
        .btn {
            display: none !important;
        }
    }
}

.ywraq-wrapper {
    h3 {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

.grid-reduced {
    margin-bottom: 50px;
    .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
        > div {
            padding-left: 7.5px;
            padding-right: 7.5px;
        }
    }
}

.yith-ywraq-add-to-quote {
    margin-bottom: 30px;
}