.testimonials.archive {
    margin-bottom: 80px;

    .image {
        background: lighten($gray-lighter, 4%);
        text-align: right;
        img {
            display: inline-block;
            text-align: right;
        }
        @media screen and (min-width: $screen-md-min) {
            height: 199px;
            position: relative;
            img {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }

    .item {
        background: $gray-lighter;
        font-weight: 300;
        font-size: 0.95em;
        td {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .item, .image {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .secondary-bg {
        background: $brand-secondary;
        color: white;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
        > div {
            padding-left: 5px;
            padding-right: 5px;
        }
    }


}