.term-description {
    @extend .entry-content;
    margin-bottom: 30px;
}
.meta-bar {
    @include clearfix;
    background-color: $gray-lighter;
    font-weight: 300;
    padding: 6px 12px;
    font-size: 0.9em;
    > * {
        margin-bottom: 0;
        display: inline-block;

        @media screen and (max-width: $screen-xs-max) {
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            float: none !important;
            .wppp-select {
                display: inline-block;
            }
        }
    }
    .form-wppp-select {
        float: left !important;
        margin: 0 !important;
        padding-left: 10%;
    }
    .woocommerce-pagination {
        float: right;
        height: 19px;
        .page-numbers {
            margin: 0;
            border: none;
            font-weight: 300;
            li {
                a, span {
                    padding-top: 3px;
                    padding-bottom: 3px;
                }
                &:last-child {
                    border-right: none;
                }
                .current {
                    color: white;
                    background-color: $brand-secondary;
                }
            }
        }
    }
}

.woocommerce .woocommerce-result-count {
    margin-bottom: 0;
}
.wppp-select {
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}

.woocommerce .entry {
    .page-title {
        margin-top: 0;
        margin-bottom: 15px;
    }
}

.woocommerce div.product .woocommerce-tabs {
    ul.tabs {
        padding: 0;
        @include clearfix;
        margin-right: -5px;
        margin-bottom: 35px;
        border: none;
        overflow: visible;
        color: white;
        &:before, &:after {
            display: none;
            border: none;
        }
        li {
            display: block;
            float: left;
            box-shadow: none;
            border: none;
            border-right: 5px solid $gray-lighter;
            margin: 0;
            border-radius: 0;
            padding: 0;
            background: none;
            &:before, &:after {
                display: none;
            }
            @media screen and (max-width: $screen-xs-max) {
                width: auto !important;
                float: none;
                border-right: none;
                border-bottom: 5px solid white;
                a:after {
                    display: none;
                }
            }
            a {
                border-radius: $border-radius-base;
                position: relative;
                display: block;
                padding: 5px 14px;
                text-align: left;
                background: $gray-light;
                @include grey-grad;
                color: white;
                font-weight: 500;
                font-size: 1.3em;
                -webkit-font-smoothing: antialiased;
                &:hover {
                    background-color: transparentize($brand-secondary, 0.5);
                    color: white;
                }
            }
            &.active {
                a {
                    @include secondary-grad;
                }
            }
        }
    }
    .entry-content {
        ul {
            line-height:1.7
        }
    }
    .panel {
        box-shadow: none;
        border: none;
        background: none;
        @include clearfix;
        margin-bottom: 45px;
        ul {
            @include clearfix;
            li {
                padding-left: 10px;
                //padding-right: 60px;
                //width: 50%;
                //float: left;
                @media screen and (max-width: $screen-xs-max) {
                    //width: auto;
                    //float: none;
                }
            }
        }
        table {
            @extend .table;
            @extend .table-striped;
            @extend .table-bordered;
            border: 1px solid $gray-light;
        }
        table + * {
            margin-top: $grid-gutter-width;
        }
    }
}