a.hover-opacity {
    &:hover img {
        opacity: 0.75;
    }
}

hr {
    margin-top: 45px;
    margin-bottom: 45px;
    border-color: $gray-light;
}

div.bar {
    display: block;
    width: 100%;
    @include clearfix;
    font-size: floor(($font-size-base * 2));
    color: white;
    text-transform: lowercase;
    font-weight: 500;
    padding: 8px 30px 10px 30px;
    border-radius: $border-radius-base;
    margin-bottom: 6px;
    -webkit-font-smoothing: antialiased;

    background-color: $brand-secondary;
    @include secondary-grad;

    &.bar-primary {
        background-color: $brand-primary;
        @include primary-grad;
    }

    > * {
        font-size: floor(($font-size-base * 1.9));
        color: white;
        text-transform: lowercase;
        font-weight: 500;
        margin: 0;
        line-height: normal;
    }
    @media screen and (max-width: $screen-xs-max) {
        padding: 8px 10px 10px 10px;
        > * {
            font-size: floor(($font-size-base * 1.5));
            font-weight: 300;
        }
    }
}