@mixin background-size($size: 100% auto) {
    background-size: $size;
}

@mixin primary-grad() {
    background: $brand-primary; /* Old browsers */
    background: -moz-linear-gradient(top,  #b9419f 0%, #b9419f 50%, #ad208e 51%, #ad208e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9419f), color-stop(50%,#b9419f), color-stop(51%,#ad208e), color-stop(100%,#ad208e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b9419f 0%,#b9419f 50%,#ad208e 51%,#ad208e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b9419f 0%,#b9419f 50%,#ad208e 51%,#ad208e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b9419f 0%,#b9419f 50%,#ad208e 51%,#ad208e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b9419f 0%,#b9419f 50%,#ad208e 51%,#ad208e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9419f', endColorstr='#ad208e',GradientType=0 ); /* IE6-9 */
}

@mixin secondary-grad() {
    background: $brand-secondary; /* Old browsers */
    background: -moz-linear-gradient(top,  #6a8095 0%, #6a8095 50%, #506a83 51%, #506a83 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a8095), color-stop(50%,#6a8095), color-stop(51%,#506a83), color-stop(100%,#506a83)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6a8095 0%,#6a8095 50%,#506a83 51%,#506a83 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6a8095 0%,#6a8095 50%,#506a83 51%,#506a83 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6a8095 0%,#6a8095 50%,#506a83 51%,#506a83 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6a8095 0%,#6a8095 50%,#506a83 51%,#506a83 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a8095', endColorstr='#506a83',GradientType=0 ); /* IE6-9 */
}

@mixin grey-grad() {
    background: #a7a9ac; /* Old browsers */
    background: -moz-linear-gradient(top,  #b3b5b8 0%, #b3b5b8 50%, #a7a9ac 51%, #a7a9ac 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3b5b8), color-stop(50%,#b3b5b8), color-stop(51%,#a7a9ac), color-stop(100%,#a7a9ac)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b3b5b8 0%,#b3b5b8 50%,#a7a9ac 51%,#a7a9ac 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b3b5b8 0%,#b3b5b8 50%,#a7a9ac 51%,#a7a9ac 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b3b5b8 0%,#b3b5b8 50%,#a7a9ac 51%,#a7a9ac 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b3b5b8 0%,#b3b5b8 50%,#a7a9ac 51%,#a7a9ac 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b5b8', endColorstr='#a7a9ac',GradientType=0 ); /* IE6-9 */
}