// Glyphicons font path
$icon-font-path: "../fonts/";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
$grid-gutter-width-base: 30px;
$grid-gutter-width: $grid-gutter-width-base;

// Colors
$brand-primary: #ad208e;
$brand-secondary: #506a81;

$gray-light: lighten(#6d6e70, 28%);

$table-border-color: $gray-light;

// Type
$font-family-sans-serif: "nimbus-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$headings-font-weight: 700;
$font-weight-bold: 700;
$text-color: #636467;
$link-color: $brand-primary;

$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 2.7));
$font-size-h4: ceil(($font-size-base * 1.5));
$font-size-h5: ceil(($font-size-base * 1.4));
$font-size-h6: ceil(($font-size-base * 1.1));


$nav-link-padding: 10px 17px;
// Navbar
$navbar-height: 45px;
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;

$navbar-default-color: #FFFFFF;
$navbar-default-bg: $brand-secondary;
$navbar-default-border: white;

// Navbar links
$navbar-default-link-color: #FFFFFF;
$navbar-default-link-hover-color: transparentize(#FFFFFF, 0.5);
$navbar-default-link-active-color: transparentize(#FFFFFF, 0.5);
$navbar-default-link-active-bg: transparent;

// Buttons
$btn-font-weight: bold;
$btn-primary-border: $brand-primary;

$btn-default-color: #FFFFFF;
$btn-default-bg: $brand-secondary;
$btn-default-border: $btn-default-bg;

// Sizes
$padding-base-horizontal:   22px;
$padding-large-horizontal:  35px;

$border-radius-base: 4px;
$border-radius-large: 8px;


$thumbnail-padding: 0;

$input-border-focus: $brand-primary;

// MQ's
$screen-retina: "only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)";
